:root {
  /* Button */
  --react-pdf__button-size: 32px;
  --react-pdf__button-icon-size: 20px;
  --react-pdf__button-height: var(--react-pdf__button-size);
  --react-pdf__button-width: var(--react-pdf__button-size);
  --react-pdf__button-transition: 150ms ease-in-out;
  --react-pdf__button-border-radius: 50%;
  --react-pdf__button-border: none;
  --react-pdf__button-background: transparent;
  --react-pdf__button-color: var(--react-pdf__controls-color);

  /* Controls */
  --react-pdf__controls-width: 100%;
  --react-pdf__controls-height: 3.5rem;
  --react-pdf__controls-padding-inline: 1rem;
  --react-pdf__controls-padding-block: 0.5rem;
  --react-pdf__controls-padding: var(--react-pdf__controls-padding-block)
    var(--react-pdf__controls-padding-inline);
  --react-pdf__controls-border-radius: 0.375rem;
  --react-pdf__controls-transition: opacity 0.6s ease-in-out;
  --react-pdf__controls-font-size: var(--react-pdf__toolbar-font-size);
  --react-pdf__controls-border: none;
  --react-pdf__controls-background: transparent;
  --react-pdf__controls-color: rgb(255, 255, 255);

  /* Input */
  --react-pdf__input-height: 2.5rem;
  --react-pdf__input-padding-inline: 0.25rem;
  --react-pdf__input-padding-block: 0.125rem;
  --react-pdf__input-padding: var(--react-pdf__input-padding-block)
    var(--react-pdf__input-padding-inline);
  --react-pdf__input-color: inherit;
  --react-pdf__input-background: rgba(0, 0, 0, 0.5);
  --react-pdf__input-border-radius: 0;
  --react-pdf__input-border: none;
  --react-pdf__input-outline: none;

  /* Toolbar */
  --react-pdf__toolbar-height: 3.5rem;
  --react-pdf__toolbar-padding-inline: 1rem;
  --react-pdf__toolbar-padding-block: 0.5rem;
  --react-pdf__toolbar-padding: var(--react-pdf__toolbar-padding-block)
    var(--react-pdf__toolbar-padding-inline);
  --react-pdf__toolbar-background: rgb(50, 54, 57);
  --react-pdf__toolbar-color: rgb(255, 255, 255);
  --react-pdf__toolbar-font-size: 0.75rem;

  /* Container */
  --react-pdf__container-background: rgb(50, 54, 57);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
